@media print {
    @page {
        size: landscape;
        /* size: portrait; */
    }
}

@font-face {
    font-family: "KhmerOSMoulLight";
    src: url("@/assets/fonts/KhmerOSMuollight.ttf");
}

@font-face {
    font-family: "Khmer OS Battambang";
    src: url("@/assets/fonts/KhmerOSbattambang.ttf");
}

body {
    font-family: "Khmer OS Battambang" !important;
    /* font-family: "Khmer OS Battambang" !important; */
    font-size: 12pt;
    line-height: -1.5pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table.event_report,
th,
td {
    border: 1px solid;
    padding: 1pt;
}

.khmerOSMoulLight {
    font-family: "KhmerOSMoulLight" !important;
}

.khmerOSBattambang {
    font-family: "Khmer OS Battambang" !important;
}

.list-user {
    margin: 0 auto;
    width: 50%;
}